h1 {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-family: "Satisfy";
  color: var(--title-color);
  padding: 25px;
}

h2 {
  font-family: "Satisfy";
  color: var(--title-color);
}

div.card {
  margin-bottom: 45px;
  border-color: var(--p-color);
  position: relative;
  border-width: 15px;
}

.btns {
  display: flex;
  justify-content: right;
  margin: 20px;
}

.btn {
  background-color: var(--title-color);
  border: none;
}

.strong {
  margin: 20px;
}

p {
  font-family: "Lato";
  
}

.underline {
  text-decoration: underline;
}
.card-content {
  padding: 20px;
}

.card-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}

app-heart {
  margin-left: 50px;
}

.comment {
  border: 1px rgba(177, 173, 173, 0.573) solid;
  max-height: 180px;
  overflow-y: scroll;
  margin: 15px;
  padding: 8px;
}

textarea {
  width: 97%;
  margin: auto;
border: 1px rgba(177, 173, 173, 0.573) solid;
}

button {
  background-color: var(--title-color);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin: 10px;
}

h3 {
  margin-left: 15px;
  font-family: "Satisfy";
  color: var(--p-color);
}

.center{
    display: flex;
    justify-content: center;
}

.author{
    font-style: italic;
    font-size: 15px;
    color: grey;
}

.card{
  margin-bottom: 50px;
}

app-heart:hover{
  cursor: pointer;
}

.bg{
  background-image: url('/assets/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}