<h1>Techniques de Méditéria</h1>

<div class="container">
  <div class="card" *ngFor="let technique of techniques">
    <div class="card-body">
      <h2 class="card-title">{{ technique.name }}</h2>
      <p class="card-text strong">{{ technique.description }}</p>
      <p class="card-text"><span class="underline">Durée :</span> {{ technique.duration }} minutes</p>
      <p class="card-text"><span class="underline">Atmosphère :</span> {{ technique.atmosphere }}</p>
    </div>
    <div class="btns"><button [routerLink]="['/meditation', technique.id]" class="btn btn-primary">Méditer</button>
<app-heart [isFavorite]="technique.isFavorite" (favoriteChanged)="onFavoriteChanged($event, technique)" [techniqueId]="technique.id"></app-heart>
  </div>
</div>

