<div class="bg">
<h1>Techniques de Méditéria</h1>
<div class="searchBar">
<input type="text" placeholder="Rechercher une technique..." [(ngModel)]="searchText" (input)="searchTechnique()"></div>
<div class="btnlist">
  <p class="tri">Afficher les techniques les </p>
  <button (click)="sortTechniques('desc')">Plus récentes</button>
  <button (click)="sortTechniques('asc')">Plus anciennes</button>
</div>

<div class="container">
  <div class="card" *ngFor="let technique of filteredTechniques">
    <div class="card-body">
      <h2 class="card-title">{{ technique.name }}</h2>
      <p class="card-text strong">{{ technique.description }}</p>
      <p class="card-text"><span class="underline">Crée par :</span> {{ technique.createdBy.username }}</p>
      <p class="card-text"><span class="underline">Durée :</span> {{ technique.duration }} minutes</p>
      <p class="card-text"><span class="underline">Atmosphère :</span> {{ technique.atmosphere }}</p>
    </div>
    <div class="btns">
      <button [routerLink]="['/meditation', technique.id]" class="btn btn-primary">Méditer</button>
      <app-heart [isFavorite]="technique.isFavorite" (favoriteChanged)="onFavoriteChanged($event, technique)" [techniqueId]="technique.id"></app-heart>
    </div>

 <h2>Commentaires</h2>
    <div class="comment card" *ngIf="technique.comments && technique.comments.length">
     
      <div *ngFor="let comment of technique.comments; let i = index">
        <span>De {{comment.user?.username}} : {{ comment.comment }} </span>
        <p class="author">{{comment.date |  date:'dd/MM/yyyy HH:mm'}}</p>
        <button *ngIf="isUserAllowedToDelete(+comment.user_id)" (click)="onDeleteComment(comment.id!, i)">
          Supprimer
        </button>
      </div>
  </div>

    <div>
      <div class="center">
      <textarea [(ngModel)]="newCommentTexts[technique.id]" placeholder="Votre commentaire .."></textarea></div>
      <div class="btns">
      <button (click)="onAddComment(technique)">Ajouter un commentaire</button>
    </div>
    </div>  
  </div>
</div></div>