<div class="container mt-5">
    
    <div class="row">

        
        <div class="col-md-3">
            <button class="btn btn-primary mb-2">Accèder à mon profil</button>
            <button class="btn btn-primary mb-2">Acceder à ma messagerie</button>
            <button class="btn btn-primary mb-2">Acceder à mes techniques</button>
            <button class="btn btn-primary mb-2">Acceder aux salon de forums</button>
        </div>

        
        <div class="col-md-9">

            
            <div class="mb-3">
                <div class="card-body">
                    <h1>Bienvenue dans l'univers Méditéria</h1>
                    <p>Plongez dans l'univers de la sérénité avec Méditéria : votre sanctuaire en ligne dédié à la méditation. Créez, découvrez et partagez des techniques innovantes, échangez avec une communauté bienveillante et explorez nos forums pour enrichir votre voyage intérieur. Tout cela, gratuitement et à portée de clic.</p>
                </div>
            </div>

            
            
            <div class="card mb-3">
                <div class="card-body">
                    <h2>Techniques de méditations</h2>
                    <p>Techniques récentes...</p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h2>Messagerie</h2>
                    <p>Messages récents...</p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h2>Forum</h2>
                    <p>Forum récents...</p>
                </div>
            </div>

        </div>

    </div>
</div>
