<div class="bg">
  
<div class="title"><h1>Discutez autour de la technique de méditation</h1></div>

<div class="center" *ngIf="forum"> 
  <div *ngFor="let message of forum"> 
    <div class="contenu">
      <p class="name">{{message.user?.username}}</p>

      <p>{{ message.message }}</p>
      <i>{{message.date |  date:'HH:mm dd/MM/yyyy'}}</i>
    </div>
    <div class="bouton">
        <button class="btn-com" *ngIf="message.user!.id === currentUserId" (click)="onDeleteMessage(message.id!)">Supprimer</button>
</div>
</div>
<div class="c">
<div class="fix">
<form (ngSubmit)="onSubmit()">
  <textarea [(ngModel)]="newMessageContent" name="message" required placeholder="Entrez votre message ..."></textarea>
  <div class="btn"><button class="btn-com" type="submit" [disabled]="!newMessageContent.trim()">Envoyer</button><button class="btn-com" [routerLink]="['/forum']">Retour</button></div>
</form>
</div>

</div>

<div aria-live="polite" aria-atomic="true" style="position: relative;">
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="deleteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" #deleteToast>
      <div class="toast-header">
        <img src="assets/logo1.svg" class="rounded me-2" alt="" srcset="">
        <strong class="me-auto">Méditéria Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">  
      </div>
    </div>
  </div>
</div>