<div class="bg">
  
<div class="title"><h1>Discutez autour de la technique de méditation</h1></div>

<div class="center" *ngIf="forum"> 
  <div *ngFor="let message of forum"> 
    <div class="contenu">
      <p class="name">{{message.user?.username}}</p>

      <p>{{ message.message }}</p>
      <i>{{message.date |  date:'dd/MM/yyyy HH:mm'}}</i>
    </div>
    <div class="bouton">
        <button *ngIf="message.user!.id === currentUserId" (click)="onDeleteMessage(message.id!)">Supprimer</button>
</div>
</div>

<form (ngSubmit)="onSubmit()">
  <textarea [(ngModel)]="newMessageContent" name="message" required placeholder="Entrez votre message ..."></textarea>
  <div class="btn"><button type="submit" [disabled]="!newMessageContent.trim()">Envoyer</button><button [routerLink]="['/forum']">Retour</button></div>
</form>
</div>