<i class="fa" [class.fa-heart]="isFavorite" [class.fa-heart-o]="!isFavorite" [class.heart-red]="isFavorite" (click)="toggleFavorite()"></i>

<div aria-live="polite" aria-atomic="true" style="position: relative;">
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="deleteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" #deleteToast>
      <div class="toast-header">
        <img src="assets/logo1.svg" class="rounded me-2" alt="" srcset="">
        <strong class="me-auto">Méditéria Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">  
      </div>
    </div>
  </div>
</div>