div{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.bg{
  background-image: url('/assets/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
}