div{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.bg{
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

/* @media screen and (max-width: 576px) {
  
    .bg{
        height: 100%;
    }


} */