<div class="container">
  <h1>Ajouter une technique de méditation</h1>
  <form [formGroup]="meditationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom :</label>
      <input type="text" id="name" formControlName="name" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description :</label>
      <textarea id="description" formControlName="description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="duration">Durée (en minutes) :</label>
      <input type="number" id="duration" formControlName="duration" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="atmosphere">Atmosphère :</label>
      <input type="text" id="atmosphere" formControlName="atmosphere" class="form-control" required>
    </div>
    <div class="form-group">
  <label for="keyword">Mots-clés :</label>
  <input type="text" id="keyword" formControlName="keyword" class="form-control" placeholder="Entrez des mots-clés séparés par des virgules, ils s'affichent sur la technique. ">
</div>

    <div class="form-group">
      <label for="audio">Audio :</label>
      <input type="file" id="audio" formControlName="audio_media_id" class="form-control-file" accept="audio/*" (change)="onAudioSelected($event)">
    </div>
    <div class="form-group">
      <label for="visual">Visuel :</label>
      <input type="file" id="visual" formControlName="visual_media_id" class="form-control-file" accept="image/*" (change)="onVisualSelected($event)">
    </div>
    <div class="center">
        <button type="submit" class="btn btn-primary">Ajouter</button> 
        <button class="btn btn-primary" (click)="back()">Retour</button>
   </div>
    
  </form>
</div>

<div aria-live="polite" aria-atomic="true" style="position: relative;">
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="addToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" #addToast>
      <div class="toast-header">
        <img src="assets/logo1.svg" class="rounded me-2" alt="" srcset="">
        <strong class="me-auto">Méditéria Notification</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
      
      </div>
    </div>
  </div>
</div>
