.img {
margin-top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  cursor: pointer;
  background-image: url('/assets/404.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width: 575px) {
img{
  width: 100%
}



}

