h1{
    color: var(--title-color);
    font-family: 'Satisfy';
}

h2{
    font-family: 'Lato';
    color: var(--title-color);
    margin: 50px;
    font-size: 24px;
    border: 1px solid var(--p-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

h2:hover{
    cursor: pointer;
}
