<div class="footer border border-dark fix">
  <span class="span"
    ><p>© 2023, Méditéria</p>
    <p class="mention" [routerLink]="['/legalMentions']">Mentions Légales</p>
    <div class="insta">
      <a
        href="https://instagram.com/mediteria_sphere?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"
        target="_blank"
        ><img src="assets/icons/instagram.png" alt="" srcset=""
      /></a>
    </div>
  </span>
  <div class="footer-links">
    <a class="link" [routerLink]="['/landing']">Accueil</a>
    <a class="link" [routerLink]="['/medtech']">Techniques de Méditation</a>
    <a class="link" [routerLink]="['/forum']">Forum</a>
    <a class="link" [routerLink]="['/profil']">Profil</a>
    <a class="link" [routerLink]="['/login']">Connexion</a>
    <a class="link" [routerLink]="['/signin']">Inscription</a>
  </div>
</div>
