div {
  background-color: white;
  border-color: transparent !important;
  color: var(--title-color);
  text-align: center;
}

p {
  margin: 5px;
  font-family: "Lato";
  margin-right: 20px;
}

.fix {
  height: 2.5rem;
  display: flex;
  justify-content: center;
}

.link {
  cursor: pointer;
  font-weight: bold;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.link {
  cursor: pointer;
  color: var(--title-color);
  margin: 0 10px;
  text-decoration: none;
  font-family: var(--font-p);
  color: #a3dca5;
  z-index: 1000;
}

p:last-child {
  font-weight: bolder;
  font-family: var(--font-p);
  cursor: pointer;
  z-index: 1000;
}

.link:hover {
  text-decoration: underline;
  color: var(--title-color);
}

p:last-child:hover {
  text-decoration: underline;
  color: var(--title-color);
}

a {
  color: #a3dca5;
}

span {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  justify-content: center;
  z-index: 1000;
}

.span p {
  width: 10rem;
}

img {
  width: 100%;
  z-index: 1000;
  height: 90%;
}

.insta {
  display: flex;
  width: 8%;
}


.mention:hover{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:637px) {
    
    .footer{
        height: 80px;
    }
}

@media screen and (max-width: 576px) {
  .fix {
    height: 4rem;
  }
}
@media screen and (max-width:350px) {
    .footer-links{
        display: none;
    }
    .insta{
        display: none;
    }
    .footer{
        margin-top: 0px;
    }
}



