<div class="article-container">
  <div class="article">
    <img src="assets/launding.jpg" alt="Description de l'image 1">
    <h1>Découvrez la méditation avec Méditéria</h1>
    <p>Plongez dans un voyage intérieur vers la sérénité.</p>
    <!-- Dans un monde en perpétuel mouvement, la méditation est devenue un refuge pour beaucoup, offrant une échappatoire à l'agitation quotidienne. Méditéria vous guide à travers cet univers apaisant avec une gamme variée de techniques de méditation. Explorez différentes méthodes, découvrez celle qui vous convient le mieux et embarquez pour un voyage intérieur vers le calme et la sérénité.
    </p> -->
  </div>

  <div class="article">
    <img src="assets/creativite.jpg" alt="Description de l'image 2">
    <h1>Créez votre propre techniques de méditation</h1>
    <p>Partagez votre sagesse avec la communauté.</p>
    <!-- La beauté de la méditation réside dans sa capacité à être personnalisée. Méditéria reconnaît le pouvoir de l'individualité et vous offre une plateforme pour exprimer et partager vos propres techniques de méditation. Partagez votre sagesse, inspirez la communauté, et découvrez en retour des approches nouvelles et novatrices créées par d'autres méditants passionnés comme vous. C'est un espace où chaque voix compte, où chaque expérience est précieuse.
    </p> -->
  </div>

  <div class="article">
    <img src="assets/equilibre.svg" alt="Description de l'image 3">
    <h1>Rejoingnez notre communauté</h1>
    <p>Échangez en temps réel avec notre messagerie instantanée et explorez nos forums de discussion.</p>
    <!-- L'un des points forts de Mediteria est notre communauté de passionnés de méditation. Nos forums de discussion sont le lieu idéal pour partager vos expériences, poser des questions, et apprendre des autres membres. Que vous cherchiez des conseils sur la méditation, des recommandations de livres ou simplement un espace pour partager vos pensées, nos forums sont ouverts 24/24. Connectez-vous avec d'autres membres en temps réel, échangez des idées, et créez des liens significatifs avec des personnes partageant les mêmes valeurs.
    </p> -->
  </div>
</div>


<div  class="center">
    <h1 class="title">Votre application disponible depuis tout vos appareils</h1>
    <img src="assets/écrans.svg" alt="Différent taille écran" >
</div>

<app-footer-bar></app-footer-bar>