<div class="article-container">
    
  <div class="article">
    <img src="assets/launding.svg" alt="Description de l'image 1">
    <h1>Découvrez la méditation avec Méditéria</h1>
    <p>Plongez dans un voyage intérieur vers la sérénité.</p>
  </div>

  <div class="article">
    <img src="assets/creativite.jpg" alt="Description de l'image 2">
    <h1>Créez votre propre techniques de méditation</h1>
    <p>Partagez votre sagesse avec la communauté.</p>
    <div class="align">
     <button class="btn btn-custom" [routerLink]="['/signin']">Inscrivez-vous</button></div>
  </div>

  <div class="article">
    <img src="assets/equilibre.svg" alt="Description de l'image 3">
    <h1>Rejoignez notre communauté</h1>
    <p>Échangez en temps réel avec notre messagerie instantanée et explorez nos forums de discussion.</p>
  </div>
</div>


<app-screen></app-screen>

