.article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Espacement entre les articles */
  margin: 50px;
}

.article {
  text-align: center;
}

.article img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Centrer l'image horizontalement */
}

*{
    padding: 5px;
}

img{

    width: 250px;
}

h1{
     font-family: 'Satisfy';
     font-size: 30px;
     color: var(--title-color);
}

.title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.center{
    text-align: center;
}

.center img{
    width: 30%;
}

/* ECRAN LARGE */
@media screen and (min-width: 768px) {
  .article-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ECRAN MOYENS */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .article-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PETIT ECRAN */

@media screen and (max-width: 575px) {
  .article-container {
    grid-template-columns: 1fr;
  }
}