<div class="container text-center m-0 p-0">
    <div class="row align-items-center justify-content-between">
        <img src="assets/background2.svg" alt="" id="photo" class="col-12 col-lg-8">



<form [formGroup]="connexion" (ngSubmit)="OnConnect()" class="col-12 col-lg-4">
 

  <div class="d-flex flex-column justify-content-center m-5 ">
    <h1>Connexion</h1>
    <label for="FormControlInput1" class="form-label" ></label>
    <input type="text" class="form-control shadow" id="FormControlInput1" placeholder="Votre pseudo" formControlName="username" name="username">


  <label for="inputPassword5" class="form-label"></label>
  <input type="password" id="inputPassword5" formControlName="password" class="form-control shadow" aria-describedby="passwordHelpBlock" placeholder="Votre mot de passe" name="password">

</div><div><button type="submit" class="btn connexion" [disabled]="!connexion.valid">Se connecter</button></div>
<p [routerLink]="['/signin']">Pas encore inscrit ? C'est par ici 🧘</p>
</form>

