#photo {
width: 20%;
margin: 150px 0px 0px 250px;
}

.connexion {
    background-color: var(--title-color);
    color: white;
    border-radius: 5px;
    border: none;
}


h1{
    color: var(--title-color);
    font-family: 'Satisfy';
}


input {
    border-radius: 10px;
    margin-bottom: 15px; 
}

h1 {
    color: var(--title-color);
    margin-top: 20px; 
}
::placeholder{
color: rgba(128, 128, 128, 0.42);
}

p:hover{
    cursor: pointer;
}

p{
    margin: 10px;
    font-family: 'Lato';
}

form{
    margin-top: 150px;
    
}


.form-control:focus {
  border-color: #6d435a;
  box-shadow: 0 0 0 0.2rem #6d435a73;
}

.bg {
  background-image: url("/assets/dream.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
}

.toast-hide{
    position: absolute;
    top: 0;
    right: 0;
}

img{
    width: 10%;
}


@media screen and (max-width: 576px) {
   #photo {
        display: none;
    }
    .container {
        padding: 0 15px;
    }
    form{
        margin-top: 100px;
    }

    .col-12{
        padding: 0px;
    }
}

@media screen and (max-width: 776px) {
   .container{
    overflow-x: hidden;
   }
}