#photo {
width: 100%;
margin: 100px 0px 0px 250px;
}

.connexion {
    background-color: var(--title-color);
    color: white;
    border-radius: 5px;
    border: none;
}

.big-container {
  width: 100%;
}

.item-container {
  background-image: url("/assets/dream.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: var(--title-color);
    font-family: 'Satisfy';
}


input {
    border-radius: 10px;
    margin-bottom: 15px; 
    width: 500px;
}

h1 {
    color: var(--title-color);
    margin-bottom: 80px; 
}
::placeholder{
color: rgba(128, 128, 128, 0.42);
}

p:hover{
    cursor: pointer;
}

p{
    margin: 10px;
    font-family: 'Lato';
    width: 250px;
}


.form-control:focus {
  border-color: #6d435a;
  box-shadow: 0 0 0 0.2rem #6d435a73;
}

.bg {
  background-image: url("/assets/dream.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

.toast-hide{
    position: absolute;
    top: 0;
    right: 0;
}

img{
    width: 10%;
}

.btn_signin{
    margin: 20px;
}

@media screen and (max-width: 576px) {
   #photo {
        display: none;
    }
    .container {
        padding: 0 15px;
    }
    form{
        margin-top: 100px;
    }

    input{
        width: 300px;
        padding: 10px;
    }

    .btn_signin{
    margin: 0px;
}
}

@media screen and (max-width: 776px) {
   .container{
    overflow-x: hidden;
   }
}

@media screen and (max-width: 1150px) {
   #photo {
        display: none;
    }



}