<nav class="navbar">
  <div class="container">
    <img src="assets/logo1.svg" alt="Logo" [routerLink]="['/landing']" class="logo" />
    <input type="checkbox" id="navbar-check" class="navbar-check" #navbarCheck />
    <label for="navbar-check" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </label>

    <div class="navbar-menu" id="navbarMenu">
      <a class="nav-link active" aria-current="page" routerLink="/home" (click)="closeMenu()">Bienvenue</a>
      <a class="nav-link" routerLink="/medtech" (click)="closeMenu()">Méditation</a>
      <a class="nav-link" routerLink="/forum" (click)="closeMenu()">Forum</a>
      <a class="nav-link" routerLink="/messaging" (click)="closeMenu()">Messagerie</a>
      <a class="nav-link" routerLink="/profil" (click)="closeMenu()">Profil</a>
      <a *ngIf="!isUserLoggedIn" class="nav-link" routerLink="/login" (click)="closeMenu()">Connexion</a>
      <a *ngIf="isUserLoggedIn" class="nav-link" (click)="navigateToModal()">Déconnexion</a>
    </div>
  </div>
</nav>

