nav{
  z-index: 1000;
}

img{
  width: 4%;
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-family: 'Lato';
}

h1{
  font-family: var(--font-family-title);
  margin: 10px;
}

.navbar-toggler {
  cursor: pointer;
  z-index: 2000; 
}


.navbar-check {
  display: none;
}

.navbar-menu {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  height: calc(100% - 80px);
  width: 0;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
}

.navbar-check:checked ~ .navbar-menu {
  width: 250px;
}

.navbar-menu a:hover, .navbar-menu a:active {
  cursor: pointer;
  text-decoration: underline; 
  font-weight: bold;
}


.navbar-check:checked ~ .navbar-menu {
  display: flex;
}

.navbar-menu a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: var(--title-color);
}

.navbar-menu a {
  /* background-color: #fff; */
  margin: 5px 0;
  /* border-radius: 5px; */
}

@media screen and (max-width:600px) {
  .logo{
    width: 10%;
  }

  .navbar{
      height: 50px;
  }

  .navbar-menu{
    top:50px;
  }

  img{
    width: 20%;
  }

  h1{
    display: none;
  }
  
}