<!-- <p class="profil">profil</p> -->
<div class="container  cardP">
  <div class="card">
    <h1 class="card-header">Votre profil</h1>
    <div class="card-body">
      <div *ngIf="user">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="text">Pseudo:</span> {{ user.username }}
          </li>
          <li class="list-group-item">
            <span class="text">Email:</span> {{ user.email }}
          </li>
          <li class="list-group-item">
            <span class="text">Description:</span> {{ user.description }}
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" [routerLink]="['/modify']">Modifier</button>
        <button class="btn btn-danger" data-toggle="modal" (click)="openModal(deleteTemplate)">Quitter la communauté</button>
      </div>
    </div>
  </div>
</div>  
<div class="container">
   <div class="card">
     <h1 class="card-header">Vos techniques de méditation</h1>
     <div class="card-body">
      <div *ngIf="user">
       <app-my-tech></app-my-tech>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" [routerLink]="['/add']">Ajouter</button>
      </div>
    </div>
</div></div>
<div class="container">
   <div class="card">
    <h1 class="card-header">Vos favoris</h1>
    <div class="card-body">
      <div *ngIf="user">
       <app-my-favorite></app-my-favorite>
      </div></div>
      
    </div>
</div>
<div class="container">
<div class="card">
<h1 class="card-header">Vos Messages</h1>
<div class="card-body">
  <div class="container mt-5">
    <div class="mb-4">
      <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Rechercher une conversation ...">
    </div>
    <div class="row">
      <div *ngFor="let conversation of filteredConversations" class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ conversation.username }}</h5>
            <div class="left">
           <button class="btn btn-primary mt-auto conv" (click)="continueConversation(conversation)">Continuer la conversation</button></div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="filteredConversations.length === 0" class="text-center mt-5 no-favorites">
      Vous n'avez démarré aucune conversation pour l'instant.
    </div>
  </div>
</div>
</div>
</div>




<ng-template #deleteTemplate>
  <div class="modal-header">
    <h2 class="modal-title pull-left">Confirmation</h2>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Êtes-vous sûr de vouloir quitter la communauté et supprimer votre compte ? 🥺
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.dismiss()">Non</button>
    <button type="button" class="btn btn-danger" (click)="deleteAccount()">Oui, supprimer</button>
  </div>
</ng-template>