.container{
    margin-top: 20px;
    margin-bottom: 40px;
}
h1{
    font-family: 'Satisfy';
    background-color: var(--title-color);
    color: white;
}

li{
    font-family: var(--font-family-p);
    border: none;
}
.text{
    font-family: var(--font-family-p);
    color: var(--title-color);
}

button{
    margin: 15px;
}

.btn-primary{
    background-color: var(--title-color);
    border: none;
}

.btn-danger{
    opacity: 0.5;
    background-color: grey;
    border: none;
}

.card{
    border-color: var(--background-color);
}

.close{
    border-radius: 5px;
    border: none;
    background-color: var(--title-color);
    color: white;
}

h2{
    font-family: var(--font-family-title);
    color: var();
}

.modal-body{
    font-family: var(--font-family-p);
}

@media screen and (max-width: 576px) {
  
    .container{
        margin: 0px;
    }
    .profil{
        margin: 0px;
    }
}

.card-body{
    margin-bottom: 20px;
    padding: 30px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}

.profil{
    margin-bottom: 90px;
}