.container{
    margin-bottom: 40px;
}

.container:first-child{
    padding-top: 100px;
}
h1{
    font-family: 'Satisfy';
    background-color: var(--title-color);
    color: white;
}

li{
    font-family: var(--font-family-p);
    border: none;
}
.text{
    font-family: var(--font-family-p);
    color: var(--title-color);
}

   .left{
        display: flex;
        justify-content: right;
    }


button{
    margin: 15px;
}

.btn-primary{
    background-color: var(--title-color);
    border: none;
    padding: 10px;
}

.btn-primary:hover{
    background-color:#67515d ;
    color:white ;
}

.btn-danger{
    opacity: 0.5;
    background-color: grey;
    border: none;
}

.card{
    border-color: var(--background-color);
}

.close{
    border-radius: 5px;
    border: none;
    background-color: var(--title-color);
    color: white;
}

h2{
    font-family: var(--font-family-title);
    color: var();
}

.modal-body{
    font-family: var(--font-family-p);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}

.profil{
    margin-bottom: 90px;
}

.no-favorites {
    text-align: center;
    color: #a5a5a5;
    font-style: italic;
}

.mt-5{
    margin: 0px!important;
}

@media screen and (max-width: 576px) {
  
    .cardP{
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 10px;
    }
    .profil{
        margin: 0px;
    }

    .card-body{
        margin-bottom: 0px;
    }

    button{
        margin: 0px;
        margin-top: 10px;
    }

    .conv{
        width: 100px;
        height: 50px;
        font-size: 12px;
        padding: 0px;
    }

    .left{
        display: flex;
        justify-content: right;
    }
    .container:first-child{
        padding-top: 40px;
    }
   
}