<div class="bg">

<h1>Mes Favoris</h1>
<div class="container">
    <div class="card" *ngIf="favoriteTechniques && favoriteTechniques.length">
        <li *ngFor="let favorite of favoriteTechniques" class="favorite-item">
    <div class="card-body">
      <h2 class="card-title">{{ favorite.name }}</h2>
      <p class="card-text strong">{{ favorite.description }}</p>
      <p class="card-text"><span class="underline">Crée par :</span> {{ favorite.createdBy.username }}</p>
      <p class="card-text"><span class="underline">Durée :</span> {{ favorite.duration }} minutes</p>
      <p class="card-text"><span class="underline">Atmosphère :</span> {{ favorite.atmosphere }}</p>
    </div>
    <div class="btns">
      <button [routerLink]="['/meditation', favorite.id]" class="btn btn-primary medite">Méditer</button>
    </div>

 

  <p *ngIf="!favoriteTechniques || !favoriteTechniques.length" class="no-favorites">
    Vous n'avez pas encore de techniques favorites.
  </p>

</div>