<div class="landing-page d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="center-text mb-auto">
        <div class="titre-central">
            <span class="nom-marque">Méditeria</span>
            <span class="sous-titre">Un clic, une respiration, une transformation</span>
            <span class="cta">Rejoignez la communauté de Méditeria et commencez votre voyage vers la paix intérieure</span>
            <button class="btn btn-custom" [routerLink]="['/signin']">Inscrivez-vous gratuitement</button>
        </div>
    </div>
    <div>

    </div>
</div>
<app-article></app-article>