<div class="landing-page d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="center-text mb-auto">
        <div class="titre-central">
            <span class="nom-marque">Méditeria</span>
            <span class="sous-titre">Un clic, une respiration, une transformation</span>
            <!-- <button class="btn btn-primary btn-round" [routerLink]="['/login']">Débutez votre transformation</button> -->
            <img src="assets/icons8-méditation-100.png" alt="" [routerLink]="['/login']">
        </div>
    </div>
    <div>

    </div>
</div>
<app-article></app-article>