.page_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.img_class {
    flex: 1;
    max-width: 100%;
    margin-right: 10px;
    text-align: center;
}

.img_class img {
    max-width: 100%;
    height: auto;
    margin-top: 125px;
}

.d-flex {
    flex: 2;
    max-width: 53%;
    margin-top: 100px;
}

.formcontainer {
    width: 100%;
}

input, textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn_signin {
    text-align: center;
    color: var(--title-color);
}


h1{
    color: var(--title-color);
    font-family: 'Satisfy';
    display: flex;
    justify-content: center;
}

.connexion {
    background-color: var(--title-color);
    color: white;
    border-radius: 5px;
    border: none;
}

::placeholder{
color: rgba(128, 128, 128, 0.42);
}

@media screen and (max-width: 768px) {
    .page_form {
        flex-direction: column;
        align-items: center;
    }
    .rounded{
        margin-bottom: 50px;
    }

    .img_class{
        margin: 0px;
    }

    .d-flex{
        margin: 0px;
    }

}
