@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&family=Roboto&family=Satisfy&display=swap");
@import "~font-awesome/css/font-awesome.css";

:root {
  --title-color: #6d435a;
  --background-color: #d2f0eb7b;
  --p-color: #ffc0cb71;
  --green-color: #A3DCA5;
  --greenLight-color: #c6eac2;
  --font-family-title: "Satisfy";
  --font-family-p: "Lato";
  --tea-green: #D6FFB7;
}
