@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200&family=Roboto&family=Satisfy&display=swap');

:root{
    --title-color:#4A8BA5;
    --background-color:#d2f0eb7b;
    --font-family-title: 'Satisfy';
    --font-family-p: 'Lato';
}
