<div class="bg"><div class="center">
    <h1>Mentions Légales de Méditéria</h1>
</div>
<div class="container">
    <div>
        <h2>Éditeur du Site :</h2>
        <p>Nisrine Ait el haj</p>
        <p>90 rue Henry Litolff, 92270 Bois Colombes, France</p>
        <p>Email : nisrineaitelhaj@yahoo.fr</p>
        <p>Téléphone : 07 68 62 73 64</p>
    </div>

    <div>
        <h2>Hébergement :</h2>
        <p>Informations sur le futur hébergeur de site.</p>
    </div>

    <div>
        <h2>Droits d'Auteur :</h2>
        <p>La vidéo provient de Pexels et les images utilisées sur ce site proviennent de Freepik et sont toute libres de droits.</p>
        <p>Liens des sources :</p>
        <ul>
            <li>Vidéo landing page</li>
            <ul>
                <li>https://www.pexels.com/fr-fr/video/personne-femme-detente-etre-assis-8391363/</li>
            </ul>
            <li>Illustration de méditation</li>
            <ul>
                <li>https://fr.freepik.com/vecteurs-libre/illustration-meditation-personnes-plates-organiques_13297285.htm</li>
            </ul>
            <li>Illustration du concept de liberté de pensée</li>
            <ul>
                <li>https://fr.freepik.com/vecteurs-libre/illustration-du-concept-liberte-pensee_38321956.htm#query=id%C3%A9e&position=35&from_view=search&track=sph</li>
            </ul>
            <li>Illustration de concept de messagerie</li>
                <ul>
                <li>https://fr.freepik.com/vecteurs-libre/illustration-concept-messagerie_7769788.htm#page=2&query=messagerie&position=44&from_view=search&track=sph</li>
            </ul>
            <li>Image de fond abstraite aquarelle</li>
            <ul>
                <li>
                    https://fr.freepik.com/vecteurs-libre/abstrait-aquarelle_17240323.htm#page=2&query=background%20image%20rose%20et%20vert%20pastel&position=3&from_view=search&track=ais
                </li>
            </ul>
        </ul>
        <p>Les sons utilisés sont fournis par le site de Hicham, composés de musiques libres de droits.</p>
        <p>Liens des sources :</p>
        <ul>
            <li>Liste des musiques de Hicham</li>
            <ul>
                <li>https://www.musicscreen.be/musique-libre-de-droit/Catalogue/Abundance.html </li>
                <li>https://www.musicscreen.be/musique-libre-de-droit/Catalogue/Air.html </li>
                <li>https://www.musicscreen.be/musique-libre-de-droit/Catalogue/Peace.html </li>
                <li>https://www.musicscreen.be/musique-libre-de-droit/Catalogue/Birth-of-joy.html </li> 
                <li>https://www.musicscreen.be/musique-libre-de-droit/Catalogue/Supreme-Silence.html </li>
                <li>https://www.musicscreen.be/musique-libre-de-droit/Catalogue/Noblesse.html </li>
            </ul>
        </ul>
    </div>

    <div>
        <h2>Protection des Données Personnelles :</h2>
        <p>Les informations collectées sur Méditéria sont stockées dans une base de données sécurisée.</p> <p>Nous utilisons des mesures de sécurité telles que le hachage des mots de passe et l'utilisation de tokens pour assurer la protection de vos données.</p> <p>Ces informations ne sont pas utilisées à des fins commerciales.</p>
    </div>

    <div>
        <h2>Responsabilité :</h2>
        <p>Chaque utilisateur est responsable du contenu qu'il publie sur Méditéria.</p> <p> L'éditeur se décharge de toute responsabilité concernant les publications des utilisateurs.</p>
    </div>

    <div>
        <h2>Avertissement :</h2>
        <p>Les personnes sensibles aux sons sont invitées à faire preuve de prudence lors de l'utilisation des méditations audio proposées sur le site.</p>
    </div>

    <div class="last">
        <h2>Conditions Générales d'Utilisation :</h2>
        <h3>Acceptation des Conditions d'Utilisation</h3>
        <p>L'accès et l'utilisation du site Méditéria sont soumis à l'acceptation et au respect des présentes Conditions Générales d'Utilisation (CGU).</p>
        <h3>Utilisation du Site</h3>
        <p>Le site Méditéria offre des services de méditation en ligne. Les utilisateurs doivent utiliser ces services de manière responsable et légale. Tout contenu publié par les utilisateurs ne doit pas enfreindre les droits de tiers, notamment les droits d'auteur, les droits de la personnalité et les droits de propriété intellectuelle.</p>
        <h3>Comptes Utilisateurs</h3>
        <p>Les utilisateurs peuvent être amenés à créer un compte pour accéder à certaines fonctionnalités du site. Ils sont responsables de la confidentialité de leurs informations de compte et de mot de passe.</p>
        <h3>Propriété Intellectuelle</h3>
        <p>Le contenu du site Méditéria, y compris les textes, graphiques, images, sons, vidéos et autres, est protégé par le droit d'auteur et appartient à l'éditeur ou à ses fournisseurs de contenu.</p>
        <h3>Limitation de Responsabilité</h3>
        <p>L'éditeur de Méditéria ne peut être tenu responsable des dommages directs ou indirects causés à l'équipement de l'utilisateur lors de l'accès au site Méditéria, résultant soit de l'utilisation d'équipements ne répondant pas aux spécifications indiquées, soit de l'apparition d'un bug ou d'une incompatibilité.</p>
        <h3>Modifications des CGU</h3>
        <p>L'éditeur se réserve le droit de modifier à tout moment les présentes CGU. Les utilisateurs seront informés de ces changements et devront accepter les CGU modifiées pour continuer à utiliser le site.</p>
        <h3>Loi Applicable et Juridiction</h3>
        <p>Les présentes CGU sont régies par la législation française. Tout litige en relation avec l'utilisation du site Méditéria est soumis à la compétence exclusive des tribunaux français.</p>
        <h3>Contact</h3>
        <p>Pour toute question relative aux présentes CGU, veuillez contacter : nisrineaitelhaj@yahoo.fr.</p>
    </div>
</div>

<button class="btn" (click)="return()">Retour</button></div>