.bg{
    background-image: url('/assets/bg.jpg');
    margin: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px)!important;
}

div{
    margin: 20px;
  
}
.modal-header{
    margin: 80px 90px 0px;
    padding: 20px;
    font-family: var(--font-family-title);
    color: var(--title-color);
}

.btn{
    margin-left: 50px;
    background-color: var(--title-color);
    border: none;

}

.b{
    background-color: grey;
}


.btn:active{
    background-color: var(--title-color);
}

label{
    font-family: var(--font-family-p);
    color: var(--title-color);
}

.form-group{
    margin: 30px 80px; 
}

::placeholder{
color: rgba(128, 128, 128, 0.42);
}

.form-control:focus {
  border-color: #6d435a;
  box-shadow: 0 0 0 0.2rem #6d435a73;
}

@media screen and (max-width: 576px) {
  
    .btn {
        margin: 0px;
    }
}



